<p id="notice"><%= notice %></p>

<p>
  <strong>Useremail:</strong>
  <%= @bookingfinal.useremail %>
</p>

<p>
  <strong>Tripid:</strong>
  <%= @bookingfinal.tripid %>
</p>

<%= link_to 'Edit', edit_bookingfinal_path(@bookingfinal) %> |
<%= link_to 'Back', bookingfinals_path %>
